  /* Footer */
  .footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 16px 0;
    margin-top: auto;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
  }
  h1{
    margin: 5px;
  }
  ul{
    margin-bottom: 5px;
  }  
  .footer p{
    margin: 0;
  }